.label {
    display: flex;
    align-items: center;
}

.value-select {
    border-radius: var(--primaryBorderRadius);
    font-size: var(--mediumFont);
    background: none;
    color: inherit;
    padding: var(--smallMargin);
}

.value-select:focus {
    border-color: var(--gold);
}

.value-select option {
    background: var(--navy);
}

.btn {
    margin-top: var(--largeMargin);
    background: none;
    color: var(--gold);
    border: 2px solid var(--gold);
    font-size: var(--smallFont);
    padding: var(--smallMargin) var(--largeMargin);
    border-radius: var(--primaryBorderRadius);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--navy);
}
