.generator {
    display: grid;
    grid-template-columns: auto 1fr;
}

.generator__settings {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--smallMargin);
    font-size: var(--smallFont);
    color: var(--beige);
}

.generator__settings::after {
    content: 'Settings';
}

.generator__preview-wrapper {
    grid-row: span 2;
}

.generator__preview-wrapper::after {
    content: 'Preview';
}

.generator__preview {
    height: 100%;
    position: relative;
    display: flex;
    border: 2px dashed var(--gold);
    border-radius: var(--primaryBorderRadius);
}

.generator__preview::after {
    content: 'Flexbox Container';
    font-size: var(--smallFont);
    position: absolute;
    right: 1rem;
    top: 0;
    transform: translateY(-50%);
    padding: 0 0.5rem;
    background-color: var(--lightNavy);
    color: var(--gold);
    z-index: 99;
}

.generator__code-wrapper {
    font-size: var(--smallFont);
    color: var(--beige);
}

.generator__code-wrapper::after {
    content: 'Your code';
}

.generator__code {
    line-height: 125%;
}

.code__rules {
    display: flex;
    flex-direction: column;
    padding-left: var(--largeMargin);
}

.flexbox__child {
    border: 2px solid var(--beige);
    color: var(--beige);
    margin: var(--mediumMargin);
    display: grid;
    place-items: center;
    font-size: var(--largeFont);
    border-radius: var(--primaryBorderRadius);
}

.flexbox__child:nth-child(1) {
    min-width: var(--shortBoxLength);
    min-height: var(--shortBoxLength);
}

.flexbox__child:nth-child(2) {
    min-width: var(--longBoxLength);
    min-height: var(--shortBoxLength);
}

.flexbox__child:nth-child(3) {
    min-width: var(--shortBoxLength);
    min-height: var(--longBoxLength);
}
