body {
    background-color: var(--navy);
}

.app {
    padding: var(--largeMargin) var(--xLargeMargin);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Poppins', serif;
}

.wrapper {
    padding: var(--largeMargin);
    margin: var(--mediumMargin);
    border-radius: var(--primaryBorderRadius);
    background-color: var(--lightNavy);
}
