body {
    background-color: var(--navy);
}

.app {
    padding: var(--largeMargin) var(--xLargeMargin);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Poppins', serif;
}

.wrapper {
    position: relative;
    padding: var(--largeMargin);
    margin: var(--mediumMargin);
    border-radius: var(--primaryBorderRadius);
    background-color: var(--lightNavy);
}

.wrapper::after {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    font-size: var(--smallFont);
    color: var(--gold);
    text-shadow: 2px 2px 5px var(--navy);
    z-index: 99;
}
