:root {
    --smallFont: 1rem;
    --mediumFont: 1.1rem;
    --largeFont: 1.8rem;

    --smallMargin: 0.5rem;
    --mediumMargin: 1rem;
    --largeMargin: 1.5rem;
    --xLargeMargin: 3rem;

    --shortBoxLength: min(100px, 14vw);
    --longBoxLength: min(150px, 21vw);

    --primaryBorderRadius: 0.5rem;

    --navy: #152238;
    --lightNavy: #192841;
    --gold: #D4AF37;
    --beige: #F9E4B7;
}
